.articleDetails {
  min-height: 100%;
}

.skeletonAvatar {
  margin: 0 auto;
}

.skeletonTitle {
  margin-top: 20px;
}

.skeletonMain {
  margin-top: 15px;
}

.articleInfo {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
}

.avatarWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.avatar {
  object-fit: cover;
}

.block {
  margin-bottom: 16px;
}
